$white: #FFFFFF;
$white_70: rgba(255, 255, 255, 0.7);
$black: #000;
$black_30: rgba(120, 120, 120, 0.3);
$concrete: #F2F2F2;
$apple:#4CAF50;
$apple_hover: #43A047;
$color_alabaster_approx: #fbfbfb;
$mercury: #e5e5e5;
$charcoal: #252729;
$color_danube_approx: #5fa2db;
$color_mountain_mist_approx: #999;
$darkgrey: #383434;
$lemon: #ffff4c;
$lightblue: #1e70bf;
$strawberry: #FE4365;